@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Poppins:wght@400;700;900&display=swap");

:root {
    --black-lighter: #3f5870;
    --black: #34495e;
    --black-darker: #2c3e50;
    --white: #f2f4f5;
    --white-grey: #dce1e3;
    --grey: #95a5a6;
    --grey-dark: #95a5a6;
    --green: #2ecc71;
    --accent: #2ecc71;
    --red: #e74c3c;
    --orange: #f39c12;
}

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: var(--black);
}

body {
    min-height: 100vh;
    background-color: var(--white);
}

main {
    min-height: 100vh;
    display: grid;
    grid-template: 1fr / 300px 1fr;
    grid-template-areas: "sidebar list-content";
}

h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
    color: var(--black-darker);
}

hr {
    color: var(--accent);
}

.display-none {
    display: none;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--black-darker);
    color: var(--white);
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
}

.sidebar * {
    color: inherit;
}

.sidebar hr {
    margin: 1.5rem auto;
    background-color: var(--black-lighter);
    border: none;
    height: 2px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    gap: 0.5rem;
    text-decoration: none;
}

.logo-text {
    font-weight: 900;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
}

.logo-image {
    font-size: 2.5rem;
    color: var(--accent);
    user-select: none;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar .list-container ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list-selector {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    user-select: none;
    font-weight: 700;
    font-family: "Poppins";

    transition-property: background-color border-color color border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.list-selector:hover {
    background-color: var(--black);
    border-color: var(--black-lighter);
    cursor: pointer;
}

.list-selector:active,
.list-selector:focus {
    background-color: var(--black-lighter);
}

.list-selector.selected {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--accent);
}

.list-container h3 {
    margin: 0 1rem 0.5rem;
    font-size: 1.5rem;
}

.list-main {
    width: min(100ch, 100%);
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-header h2 {
    font-size: 2.5rem;
}

.list-header h3 {
    font-size: 1.5rem;
}

.list-header span {
    font-family: inherit;
    font-size: inherit;
}

#user-name,
.default-header span {
    color: var(--accent);
}

#user-name {
    word-wrap: break-word;
}

#list-items-container {
    border: 2px solid var(--black);
    border-radius: 1rem;
    margin-top: 4rem;
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-button-transition {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.list-actions {
    display: flex;
    justify-content: space-between;
}

.list-button {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--white);
    font-family: "Nunito", sans-serif;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.list-button span {
    color: var(--accent);
}

.list-button:hover,
#list-sort:hover {
    border-color: var(--accent);
    cursor: pointer;
}

.list-button:active,
#list-sort:active {
    background-color: var(--white-grey);
}

.sort-container {
    font-weight: 700;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#list-sort {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    background-color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    transition: border-color 0.2s ease-in-out;
    height: 100%;
}

.placeholder-wrapper {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    display: none;
}

.placeholder-wrapper img {
    width: 80%;
}

#list-items:empty ~ .placeholder-wrapper {
    display: grid;
    place-items: center;
    gap: 1rem;
}

#list-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    grid-auto-rows: 1fr;
}

#list-items:empty {
    display: none;
}

.list-item {
    width: 100%;
    padding: .5rem 1rem;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border: 1px solid var(--grey);
    border-radius: 0.5rem;
}

.item-content {
    flex: 1 1 0;
}

.item-header {
    display: inline;
    font-size: 1.25rem;
    transition: color .33s cubic-bezier(.25,.46,.45,.94);
    position: relative;
}

.item-header::before {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    top: 50%;
    left: -4px;
    background-color: var(--black-darker);
    transition: width .33s cubic-bezier(.25,.46,.45,.94), background-color .33s cubic-bezier(.25,.46,.45,.94)
}

input[type="checkbox"]:checked + .item-content > .item-header {
    color: var(--grey-dark);
}

input[type="checkbox"]:checked + .item-content > .item-header::before {
    width: calc(100% + 8px);
    background-color: var(--grey-dark);
}

.item-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.horizontal-separator {
    height: 4px;
    width: 4px;
    background-color: var(--black-lighter);
    border-radius: 999px;
}

.item-priority {
    --priority-color: var(--grey);
    padding: 2px 6px;
    background-color: var(--priority-color);
    color: var(--white);
    border-radius: 4px;
    font-weight: 700;
    text-transform: capitalize;
}

.item-priority.high-priority {
    --priority-color: var(--red);
}

.medium-priority {
    --priority-color: var(--orange);
}

.low-priority {
    --priority-color: var(--green);
}

.item-actions {
    display: flex;
    gap: 0.5rem;
}

.item-button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--black);
    background-color: var(--white);
    display: grid;
    place-content: center;
}

.item-button span {
    color: var(--black);
    transform-origin: center;
    transition: transform .2s cubic-bezier(.17,.84,.44,1);
}

.item-button:hover span {
    transform: scale(1.1);
}

.item-button:hover {
    border-color: var(--accent);
    cursor: pointer;
}

.item-button:active {
    background-color: var(--white-grey);
}

input[type="checkbox"] {
    accent-color: var(--accent);
    color: var(--white);
}
